<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的作品</title>
    <canvas style="position: absolute;"></canvas>
    <script src="/static/js/js1.js"></script>
    <link rel="stylesheet" href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/me.css">
    <link rel="stylesheet" href="/static/css/blogcss.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row dd"><br><br><br><br><br>
    <p class="change">###服务器###</p>
    <pre class="">
        服务器地址：m8687126u6.vicp.fun:53025
        要求minecraft版本：1.19.4 （带forge）
        要求mod：worldedit-mod-7.2.14
    </pre>
    
    
    
    <!--<a class="link-opacity-90" href="/worldedit-mod-7.jar"> >>>点我下载<<< </a>-->
    <p>链接:本站地址+/worldedit-mod-7.jar</p>
    
    
</body>
</html>
