<html>
    <head>
        <link href="../../static/css/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../../static/css/blogcss.css">
        <title>blog文章 - """+title+"""</title>
        <script src="../../static/js/quill.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  type="text/css" href="../../static/css/style.css">
    </head>
    <body>
        <header>
    		<a href="/">首页</a>
            <a href="/about">关于本站</a>
    	</header>
        <section>
            <!-- 背景颜色 -->
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="box">
                <!-- 背景圆 -->
                <div class="circle" style="--x:0"></div>
                <div class="circle" style="--x:1"></div>
                <div class="circle" style="--x:2"></div>
                <div class="circle" style="--x:3"></div>
                <div class="circle" style="--x:4"></div>
                <div class="container2">
                    <div class="form">
                        <div id="editor2">
                            <h1> """+title+"""</h1>
                            <h5> by - """+user+"""</h5>
                            <p> """+words+"""</p>
                            <a href="/removeword/"""+ wordid +""""><img src="/static/image/remove.png"></a>
                            <h6>本文id(wordid): """+ wordid +""" </h6>
                        </div>
                       <script>
                       var toolbarOptions = []
                       const quill = new Quill('#editor2', {
                        readOnly:true,
                        theme: 'snow',
                        modules: {
                            toolbar: toolbarOptions
                        },
                        });
                        </script>
                        <div class="form">
                        <div class="inputBox">
                            <textarea name="reply" id="reply" rows="4" placeholder="在这里输入你的回复..."></textarea>
                            <button type="submit">回复</button>
                            <a href="javascript:void(0);" class="reply-icon">
                                <img src="/static/image/remove.png" alt="回复标识">
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>