{% extends "base.html" %}

{% block title %}主页{% endblock %}

{% block content %}

<div class="container2" style="display: block;position: relative;" >
    
    <div id="word-content" style="margin-right: 250px;height: 80%;overflow: auto;">
        <h1>文章</h1>
        <div id="list" >
            {% for item in posts %}
                <!--{{item}}-->
                <a href="/post/{{item[0]}}">
                    <div class="cushy-box" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                        <div class="image-container" class="list-cr-{{item[0]}}" onload="machimage('{{item[0]}}','list-cr-{{item[0]}}')">
                            {% if item[6] %}
                                <img src="{{ item[6] }}">
                            {% else %}
                                {{ item[6] }}
                                <img src="/static/image/blogtitilebg.png">
                            {% endif %}
                        </div>
                        <div class="title" style="height: 100%;width: 60%;display:flexbox;">
                            <h1>{{item[1]}}</h1>
                            <br>
                            <h4>{{item[2]}}</h4>
                        </div>
                    </div>
                </a>
            {% endfor %}
            没有更多了
        </div> 
    </div>
</div>
{% endblock %}