{% extends "base.html" %}

{% block title %}写文章{% endblock %}

{% block content %}
<link href="/static/css/quill.snow.css" rel="stylesheet">
<script src="/static/js/quill.js"></script>

<div class="container2">
    <form action="handle" method="post">
        <h4>添加文章</h4>
        <div class="form-group">
            <label for="title">标题</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="标题" required>
        </div>
        <div class="form-group" style="width: 100;">
            <label for="titleimage">封面</label>
            <input type="text" class="form-control" id="titleimage" name="titleimage" placeholder="封面url(uplaod页复制),无则默认">
        </div>
        <textarea id="mark" name="markdown" style="display: none;"></textarea>
        <textarea id="html" name="html" style="display: none;"></textarea>
        <iframe src="/editormd" width="1000" height="1000" id="iframe">
        </iframe>
        <button type="submit" class="btn btn-primary btn-block">提交</button>
    </form>
</div>
{% endblock %}