{% extends "base.html" %}

{% block title %}个人中心{% endblock %}

{% block content %}
<div class="container4" style="background-color: rgba(255, 255, 255, 0);">
    <div>
        <div class="information" style="display: grid;grid-template-columns: 1fr 1fr 1fr;">
            <div class="profile-pic-me-div" style="display:grid block;grid-template-columns: 2fr 2fr 2fr;" >
                <a class="profile-pic-me" id="profile-pic-me" style="width: 80px;height: 80px;" {% if isme %} href="/api/setmineimage" {% endif %}></a>
                <p class="profile-pic-me-id" id="profile-pic-me-ids" style="display: none;">{{ username_show }}</p>
            <!-- </div>
            <div class="user-username-show" style="display: block;width: auto;height: 80;"> -->
                <h1 style="font-family:'Microsoft Yahei', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: white;">
<pre style="font-family:'Microsoft Yahei', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">    {{ username_show }}
    uid(userid): {{ userid }}
    {{fengjing}}</pre>
            </div>  
        </div>      
    </div>
</div>
<br>
<br>
<div class="container2">
    <h1>{{ cenghu }}的文章</h1>
        <div id="list">
            {% for item in posts %}
            <!--{{item}}-->
            <a href="/post/{{item[0]}}">
                <div class="cushy-box">
                    <div class="image-container" class="list-cr-{{item[0]}}" onload="machimage('{{item[0]}}','list-cr-{{item[0]}}')">
                        {% if item[7] %}
                            <img src="/static/image/blogtitilebg.png">
                        {% else %}
                            {{ item[7] }}
                            <img src="{{ item[6] }}">
                        {% endif %}
                    </div>
                    <div style="height: 100%;width: 100%;">
                        <br>
                        <h1>{{item[1]}}</h1>
                        <h4 style="color: darkgray;">{{item[2][0:30]}}</h4>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div> 
</div>
{% endblock %}