<title>添加文章</title>
<link rel="stylesheet" href="/static/css/blogcss.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet"  type="text/css" href="/static/css/style.css">
<link href="/static/css/quill.snow.css" rel="stylesheet">
<script src="/static/js/quill.js"></script>
<style>
    /* 弹窗样式 */
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 200px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        z-index: 9999;
    }
</style>
<header>
    <a href="/">首页</a>
    <a href="/about">关于本站</a>
</header>
<section>
    <!-- 背景颜色 -->
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
        <!-- 背景圆 -->
        <div class="circle" style="--x:0"></div>
        <div class="circle" style="--x:1"></div>
        <div class="circle" style="--x:2"></div>
        <div class="circle" style="--x:3"></div>
        <div class="circle" style="--x:4"></div>
        <div class="container2">
        <div class="form">
            <img src="/static/image/flask.jfif"><br>
            <h1>本网站由 flask & python 所写</h1><br>
            <b>备案号：{{beian}}</b><br>
            由{{yunying}}运营<br>
            Copyright © 2024 Ryan. All rights reserved.<br>
            本代码被GPL-v3🛡版权所守护！<br>
            <a href="https://github.com/RyanLuo2024/blog-1.0.1/">本网站全部源代码</a><br>
            联系作者：xiaoxuanwangwin102@outlook.com,诈骗、推广等非为此网站话题勿扰
            
        </div>
    </div>
</section>
</body>
