{% extends "base.html" %}

{% block title %}mineblog{% endblock %}

{% block content %}
<div class="container">
    <div id="msg"></div>
    <script>
    window.onload=function(){
            var div=document.getElementById("msg");
            var time=5;
            var timer=setInterval(function(){
                if(time==0){
                    location.href="/";
                }else{
                    div.innerHTML="将在 "+time+" 秒后跳转";
                    time--; 
                }
            },1000)
    }
    </script>
    
    <br>
    <a href="/">立即跳转</a>
</div>
{% endblock %}