{% extends "base_non.html" %}

{% block title %}消息列表{% endblock %}

{% block content %}
<div class="container5">
    <div class="message-window border p-3" id="messageWindow" style="height: 500px; overflow-y: auto;width: 500px;">
        <div class="message-list" id="messageList">
            <!-- 消息列表将被动态加载 -->
             没有更多了
        </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            function loadMessages() {
                $.getJSON('/mail/messages', function(data) {
                    var messageList = $('#messageList');
                    messageList.empty();
                    $.each(data, function(index, message) {
                        messageList.append(
                            '<a href="/mail/mail/'+ message.id +'" class="text-decoration-none text-dark">' +
                                '<div class="card mb-3">' +
                                    '<div class="card-body cushy-box2">' +
                                        '<p><strong>Date:</strong> ' + message.date + '</p><br>' +
                                        '<p><strong>From:</strong> ' + message.from_user + '</p>' +
                                    '</div>' +
                                '</div>' +
                            '</a>'
                        );
                    });
                });
            }

            loadMessages();
        });
    </script>
</div>
{% endblock %}