{% extends "base.html" %}

{% block title %}上传文件{% endblock %}

{% block content %}
<div class="container2">
    <h1>文件列表</h1>
    <ul class="list-group mb-4">
        {% for file in files %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            /static/uploads/{{ username }}/{{ file }}
            <span>
                <a href="/api/get/download_uplaodfile/{{ file }}" class="btn btn-sm btn-primary">下载</a>
                <a href="/api/get/delete_uplaodfile/{{ file }}" class="btn btn-sm btn-danger">删除</a>
            </span>
        </li>
        {% endfor %}
        <li class="list-group-item">没有更多了</li>
    </ul>
    <h1>上传:</h1>
    <form action="" enctype='multipart/form-data' method='POST' class="mb-4">
        <div class="form-group">
            <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">上传</button>
    </form>
</div>
{% endblock %}